{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">

  <title>Morse Code Convertor</title>
</head>

<body>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">

        <div class="alert alert-warning" role="alert">
          <a href="https://github.com/imvickykumar999/hackathon-iot-car-parking/tree/main/handwriting">
            <!-- <h1>
              <p>Brython on GitHub</p>
              <p>Morse Code Convertor</p>
            </h1> -->

            <h1 style="color:red;">
              <strong>
                Text to Handwriting
                <br>
                <em style="color:green;">See Code on GitHub</em>
              </strong>
            </h1>
          </a>

        </div>
      </div>
    </div>

</body>
</html>

{% endblock %}
